.news {
    margin-top: 20px;
    background-image: url("../img/news_front.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100vh;

    &__cta {
        display: flex;
        justify-content: space-between;
        align-items: end;
        position: absolute;
        bottom: 20%;
        left: 0;
        width: 100%;
        z-index: 100;

        a {
            margin-bottom: -10px;
        }
        @media screen and (max-width: $breakpoint-xl){
            bottom:20px;
        }
        h2 {
            line-height: 0.7;
        }
    }

    .swiper-slide {
        height: 100%;
    }

    .swiper-scrollbar, .swiper-scrollbar.swiper-scrollbar-horizontal {
        bottom: 20%;
        z-index: 999;
        width: 50%;
        left: 50%;
        transform: translateX(-50%);
        height: 12px;
        background: transparent;
        cursor: pointer;
        border-radius: 0;
        &:before{
            content: "";
            width: 100%;
            height: 4px;
            background-color: #fff;
            display: block;
            position: absolute;
            top: 3px;
        }
        @media screen and (max-width: $breakpoint-xl){
            width: 100%;
            left: 0;
            transform: none;
        }
        @media screen and (max-width: $breakpoint-md){
            //bottom: 50px;
        }
    }
    .swiper-scrollbar-drag {
        background-color: $font_color;
    }
}

.auction {
  margin-top: 150px;
  background-image: url("../img/auction.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  span {
    font-size: 2.5rem;
    position: relative;
    padding-top: 15px;

    @media screen and (max-width: $breakpoint-md) {
      font-size: 1.5rem;
    }
    @media screen and (max-width: $breakpoint-md) {
      font-size: 1.1rem;
    }
    &.before::after,
    &.after::after {
      content: "";
      position: absolute;
      display: block;
      background-color: #ffffff;
      width: 87px;
      height: 7px;
      top: 50%;

      @media screen and (max-width: $breakpoint-lg) {
        display: none;
      }
    }

    &.before::after {
      left: 100%;
      margin-left: 15px;
    }

    &.after::after {
      right: 100%;
      margin-right: 15px;
    }

  }
  &__wrapper {
    height: 300px;

    @media screen and (min-width: $breakpoint-md) {
      height: 400px;
    }
    @media screen and (min-width: $breakpoint-lg) {
      height: 500px;
    }
    @media screen and (min-width: $breakpoint-xl) {
      height: 100vh;
    }
  }
}


