.product__pagination {
  padding-top: 25px;
  text-align: center;

  li {
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    color: $font_color;
    height: 30px;
    width: 30px;
    border: 1px solid transparent;
    border-radius: 50%;
    line-height: 30px;
    text-align: center;

    &.active {
      border-color: $font_color;
    }

    &:hover {
      border-color: $font_color;
    }
  }

  span {
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    color: $font_color;
    padding-left: 10px;
    padding-right: 15px;
  }
}
