.search-container {
  position: relative;
  height: 30px;

  @media screen and (max-width: $breakpoint-lg) {
    right: 20px;
  }
}

.searchbutton {
    position: absolute;
    font-size: 22px;
    width: 100%;
    margin: 0;
    padding: 0;
    left: 0;
    text-align: left;
    cursor: pointer;
    height: 30px;
    top: 0px;

    i {
        color: $gray_color;
    }
}

.search:focus + .searchbutton {
  transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
}

.search {
  left:30px;
  position: absolute;
  background-color: transparent;
  outline: none;
  color: $gray_color;
  border: none;
  width: 0;
  top:0;
  padding: 0;
  z-index: 10;
  transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  border-bottom: 1px solid $gray_color;

  @media screen and (max-width: $breakpoint-lg){
    right: 2px;
    left: auto;
  }
}
.search::placeholder {
    color: $gray_color;
    font-style:italic;
}
.search:-ms-input-placeholder {
  color: $gray_color;
    font-style:italic;
}
.search::-ms-input-placeholder {
  color: $gray_color;
    font-style:italic;
}

@media screen and (min-width: $breakpoint-xl){
    .search {
        padding: 6px;
        width: 363px;
    }
}

@media screen and (max-width: $breakpoint-xl) {
    .search:focus {
        padding: 6px;
        background-color: $font_color;
        width: 360px;
    }
}
@media screen and (max-width: $breakpoint-sm) {
    .search:focus {
        width: 260px;
    }
}
